<h1>BURGERS! BURGERS! BURGERS!</h1>


<div class="row">
  <div class="row-left">

<h2>DEVOUR ME!</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burgers-block devoured=false name=burger_name}} <!-- passes burger name to li block -->
    {{/unless}}
  {{/each}}
  
</ul>
  </div>
<div class = "image">
  <img src = "https://image.freepik.com/free-vector/hamburger_53876-25481.jpg" height="300px" width ="300px">
</div>

  <div class="row-right">

<h2>DEVOURED</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burgers-block devoured=true  name=burger_name}}
    {{/if}}
  {{/each}}
</ul>
  </div>
</div>

<form class="add-form">
<h2>Add a Burger</h2>


  <div class="form-group">
    <label for="new-burger">New Burger:</label>
    <input type="text" id="burg" name="name">
  </div>

 

  <button class = "button" type="submit">ADD BURGER</button>
</form>














